@font-face {
    font-family: 'atomic-font';
    src: 
        url('./fonts/atomic-font.woff2') format('woff2'),
        url('./fonts/atomic-font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akashi-font';
    src: url('./fonts/akashi-font.woff2') format('woff2'),
         url('./fonts/akashi-font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'main-font';
    src: url('./fonts/main-font.woff2') format('woff2'),
         url('./fonts/main-font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: grid;
    width: 100vw;
    height: 100vh;
    margin: -8px;
    grid-template-rows: 1fr 20fr;
    background-color: rgb(51, 51, 51);
}

header {
    grid-row: 1 / 2;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: grid;
    width: 40%;
    justify-self: center;
    align-self: center;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 1rem 1rem;
}

nav button {
    width: 9rem;
    height: 2rem;
    font-size: 1.4rem;
    font-family: 'akashi-font';
    background-color: rgb(51, 51, 51);
    color: white;
    border-radius: 25px;
    border: none;
}

nav button:hover {
    background-color: white;
    color: rgb(51, 51, 51);
    border: none;
}

.home-btn {
    grid-column: 1 / 2;
    justify-self: left;
}

.menu-btn {
    grid-column: 2 / 3;
}

.about-btn {
    grid-column: 3 / 4;
}

.content {
    display: flex;
    width: 102%;
    justify-content: center;
    align-items: center;
    grid-row: 2 / 3;
}

.content-background {
    display: flex;
    width: 101%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    background-image: url('./images/restaurant-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.h1-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    margin: 8rem 3rem 0rem 0rem;
    width: 22rem;
    height: 22rem;
}

.title {
    font-size: 6rem;
    color: white;
    font-family: 'atomic-font';
}

.text-background {
    display: flex;
    line-height: 2;
    justify-content: center;
    align-items: flex-end;
    border-radius: 25px;
    background-color: hsla(0, 0%, 0%, 0.8);
    margin-right: 3rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
}

.txt {
    padding: .5rem .2rem 0rem .2rem;
    margin: .2rem 0rem .2rem 0rem;
    color: white;
    font-family: 'main-font';
    font-size: 1.8rem;
    text-align: center;
}

/* Menu Page specific CSS */

.pages-title {
    font-size: 2rem;
    color: white;
    font-family: 'atomic-font';
}

.pages-h1-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    margin: 2rem 4.4rem 2rem 2rem;
    width: 200px;
    height: 200px;
}

.pages-text-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: hsla(0, 0%, 0%, 0.8);
    margin: 2rem 2rem 3rem 2rem;
}